{% extends 'base.html.twig' %}

{% block title %}Acceuil
{% endblock %}

{% block body %}


	<div class="relative mt-20 mx-10 w-[70%] text-textWhite">
		<div class="relative w-full h-auto">
			<img class="w-full h-auto object-contain" src="{{ asset('assets/images/logos/Main_Logo_1.png') }}" alt="Logo du Festival">

		</div>

	</div>
{% endblock %}
