{% extends 'base.html.twig' %}

{% block title %}Groupes
{% endblock %}

{% block body %}

	<div
		class="text-textWhite">{# <h1>Le groupe est
						{{ nom }}! ✅</h1> à utiliser avec les autres routes de GroupesController #}

	</div>
{% endblock %}
